header nav ul li 
{
    list-style: none;
}
header nav ul li a
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0px 30px;
    color: black;
}
header nav ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
.menu-container 
{
    float: right;
}
header
{
    min-height: 110px;
    background-color: rgb(253, 207, 0);
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(255, 0, 0));
    color: white;
    padding-top: 30px;
    margin-bottom: 0px;
    border: rgb(0, 0, 0) 10px solid;
    border-left: rgb(43, 255, 0) 10px solid;
    border-right: rgb(30, 255, 0) 10px solid;
    border-radius: 20px;
    position: static;
    z-index: 3;
    overflow-z: hidden;
}
#container
{
    margin: auto;
    max-width: 100%;
}
input
{
    float:left;
    padding: 6px;
    border: none;
    margin-left: 30px;
    margin-top: 0px;
    font-size: 12.5px;
}
button
{
    float: left;
    width: 5%;
    padding: 3px;
    background: crimson;
    color: black;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
    margin-top: 0;
}
.nav-bar-header
{
    float: left;
    
}
.navbar-brand
{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header nav ul li a:active
{
    color: rgb(140, 0, 255);
    font-weight: bold;
}
header nav ul li a:hover,.navbar-brand:hover
{
    color:rgb(0, 255, 0);
    font-weight: bold;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin: 0px;}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
 min-height: 400px;
 min-width: 500px;
 border-radius: 20px;
 margin: 10px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #ffbb00;
  font-size: 20px;
  padding: 0px 18px;
  position: absolute;
  bottom: 320px;
  width: 100%;
  text-align: center;
}

/* Number text (1/2 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 250px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.container
{
    background: paleturquoise;
    overflow: hidden;
}
.logotype
{
    padding-top: 250px;
    text-align: center;
    padding-top: 50px;
   color: purple;
   font-family: fantasy;
   text-shadow: crimson;
   
}
.box
{
    float: left;
  text-align: center;
  width: 27%;
  margin: 40px;
  padding: 10px;
  border: 10px solid black;
  border-top-color: rgb(255, 217, 2);
  border-bottom-color: rgb(255, 217, 0);
  border-radius: 30px;
}
.box img{
    width: 90px;
}
.box:hover
{
    transform: rotate(15deg);
  }
  .row
  {
    display: inline-flex;
    margin: 40px;
    border: 7px solid rgb(255, 208, 0);
    border-radius: 20px;
    border-top: crimson;

    
  }
  
  .item
  {
    margin-left:80px;
    margin-right:80px;
}
  
  .row ul
  {
    padding: 0px;
    list-style:none ;
    color: black;
    width: 120%;
  }
  
  .row ul a
  {
    text-decoration: none;
    color: black;
  }
  
  #footer
{ 
  background: paleturquoise;
  text-align: left;
}